<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="static/index.css">
<head>
    <meta charset="UTF-8">
    <title>Поиск самого частого слова в тексте</title>
    <h1 class="header">Выберите файл для анализа</h1>
</head>
<body>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="myfile">
    <input type="submit">
    </form>
    <h2>Ответ: слово, котрое встречается чаще всего в тексте это "{{ans}}"</h2>
    <h2>Количество повторов: {{povtor}}</h2>
</div>
</body>
</html>